.search-container {
background: #151515;
height: 180px;
    position: absolute;
z-index: 20;
text-align: center;
    width: 100%;
}


.search-container:before,
.search-container:after {
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    margin: -120 0 0 -600px;
    position: absolute;
    width: 1200px;
}

.search-container:before {
    background: #444;
    background: linear-gradient(left, #151515, #444, #151515);
    top: 192px;
}

.search-container:after {
    background: #000;
    background: linear-gradient(left, #151515, #000, #151515);
    top: 191px;
}

.search-container form {
    background: #111;
    background: linear-gradient(#1b1b1b, #111);
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #272727;
    display: inline-block;
    font-size: 0px;
    margin: 30px auto 0;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.search-container input {
    background: #222;
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 0 #000;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 200px;
}

.ie .search-container input {
    line-height: 40px;
}

.search-container input::-webkit-input-placeholder {
    color: #888;
}

.search-container input:-moz-placeholder {
    color: #888;
}

.search-container input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    color: #efe;
    outline: none;
}

.search-container input:focus::-webkit-input-placeholder {
    color: #efe;
}

.search-container input:focus:-moz-placeholder {
    color: #efe;
}

.search-container button {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: border-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 2px 0 #000;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 80px;
}

.search-container button:hover,
.search-container button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color: #5f5;
    outline: none;
}

.search-container button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}

@keyframes glow {
    0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    }

    100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0, 255, 0, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 2px 0 #000;
    }
}
.conteiner-gallery {
padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    width: 100%;
    background: #151515;
    }
    
.gallery,
.info {
    display: flex;
    flex-wrap: wrap;
    }
    
    .gallery {
    margin-left: -20px;
        padding-top: 30px;
        justify-content: center;
    }
    
    .gallery__link {
        margin-top: 20px;
        margin-left: 20px;
        min-width: 320px;
        text-decoration: none;
        flex-basis: calc((100% - 80px) / 4);

        border: none;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 30px;
            background: #212121;
            box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    }
            
    .gallery__link:hover,
    .gallery__link:focus {
        transform: scale(1.05);
    }
.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gallery-item__img {
    display: block;
    height: 30vh;
    object-fit: cover;
}

.info {
    padding: 10px;
    justify-content: space-around;
}

.info-item {
    border-radius: 50%;
    border: 2px;
    border-color: rgba(0, 255, 0, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0, 255, 0, .6);
    font-size: smaller;
}

.info-item:not(:first-child) {
    margin-left: 5px;
}

#clickTop{

    font-size: 2.5em;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 2;

	color: rgba(0, 255, 0, .6);
	padding-top:1.8em;
	// display:inline-block;/* or block */
	// position:relative;
	border-color: rgba(0, 255, 0, .6);
	text-decoration:none;
	transition:all .3s ease-out;
}
#clickTop:before{
	content:'▲';
	font-size:.9em;
	margin-left:-.7em;

	border:solid .13em   rgba(0, 255, 0, .6);
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
#clickTop:hover{
	color: #5f5;
	border-color:#5f5;
}
